.cardModify
{
    width:80vw;
    margin:auto;
    margin-top:5vw;
    display:block;
}
#ManageDoctors
{
    background-color:azure;
}
#Appoinments
{
    background-color:aliceblue;
}
#Doctors{
    background-color:cornsilk;
}
h1{
    text-align:center;
    color:brown;
}
table{
    width:70vw;
}
tr:nth-child(2n) {
    background-color: #f2f3f4;
    color: black;
}
tr:nth-child(2n+1) {
    background-color: #e8daef;
    color: black;
}
.trthead {
    background-color: #c8e6fa;
    color: black;
    border-bottom: solid;
}