.divDefaultDi
{
    margin:auto;
    margin-top:10%;
    display:block;
    width:20%;
    height:30%;
}
.divRegi{
    margin: auto;
    margin-top: 10%;
    display: block;
    width: 40%;
    height: 50%;
    
}
