<html>

    <head>
        <title>
            <%- title %>
        </title>
        <script type="text/javascript" src="/./js/jquery.min.js"></script>
        <script type="text/javascript" src="/./js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/./css/bootstrap.min.css" />
        <link rel="stylesheet" href="/./custom//css/defaultChanges.css" />
    </head>

    <body>
        <%- body %>
    </body>

</html>